.event-results-container {
    position: relative;
    text-align: center;
    z-index: 0;
}

.no-events {
    width: 600px;
    margin: 30px auto;
    max-width: 85%;
    box-sizing: border-box;
    background: white;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 2px 0px rgba(156, 156, 156, 0.1);
    padding: 50px;
    font-family: Lato;
    font-weight: 400;
    color: #555;}

.events-showing-title{
    font-family: Lato;
    font-weight: bold;
    color: #424242;
    margin: 0 auto;
    display: block;
    width: 600px;
    max-width: 85%;    
}

.event-results {
    display: inline-block;
    max-width: 100%;
    text-align: left;
    position: relative;
    -webkit-animation: slideLeft .4s;
    animation: slideLeft .4s;
}

.events-filter-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 3em;
}

.events-filter-list {
    text-align: left;
    list-style: none;
    padding: 0;
    border: 1px solid #eaeaea;
    border-left: none;
}

.events-filter-list-item {
    padding: 8px 65px 8px 15px;
    border-bottom: 1px solid #eaeaea;
    border-left: 4px solid #eaeaea;
    cursor: pointer;
    font-family: Lato;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: bold;
    color: #868686
}

.events-filter-list-item:hover {
    color: #414141;
    border-left-color: #dadada;
}

.events-filter-list-item:last-child {
    border-bottom: none;
}

.events-filter-container .active-filter, .active-filter:hover {
    color: #f25b5b;
    border-left-color: #f25b5b;
    font-weight: bold;
}


/* DATEPICKER STYLES */

.events-filter-container .react-datepicker__header {
    border-color: #ddd!important;
    background-color: #fefefe!important;
}

.events-filter-container .react-datepicker {
    border: 1px solid #ddd!important;
}

.events-filter-container .react-datepicker__current-month, .events-filter-container .react-datepicker__day, .events-filter-container .react-datepicker-time__header  {
    color: #7a7a7a;
}

.events-filter-container .react-datepicker__day--disabled {
    cursor: default;
    color: #ccc;
}

.events-filter-container .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff;
}

.events-filter-container .react-datepicker__day-name {
    color: #6f6f6f;
}