.landing-page-container {
    /* background: #fafafa; */
    /* height: 100vh; */
}

.landing_page {
    background:   linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ), url(../../images/landingPage/guitarist_xl2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 725px;
    height: 100vh;
    /* margin-top: -70px; */
    /* padding-bottom: 70px; */
    z-index: -1;
    /* display: flex;
    align-items: center; */
}

.landing-page-intro {
    /* background:   linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ), url(../../images/landingPage/guitarist_xl2.jpg);
    background-size: cover;
    background-position: center; */
    width: 100%;
    min-height: 725px;
    height: 100%;
    margin-top: -70px;
    /* padding-bottom: 70px;
    z-index: -1; */
    display: flex;
    align-items: center;
}

.landing-page-intro-title {
    color: white;
    font-size: 3.4em;
    margin: 0 auto;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
}

.landing-page-intro-sub-title {
    font-weight: 100;
}

.landing-page-intro-sub-title-emphasis {
    color: #ff5722;
}

.landing-page-info-box-container {
    margin-top: -120px;
    text-align: center;
}

.loading-page-info-box-item {
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 8px;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    vertical-align: top;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(183, 183, 183, 0.7);
    box-shadow: 0px 0px 2px 0px rgba(183, 183, 183, 0.7);
}


.box-item-title {
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.5em;
    /* border-bottom: 2px solid #ececec;  */
    background: white;
    margin: 0;
    padding: 15px;
    color: #3a3a3a;
}

.loading-page-info-box-item:hover {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(183, 183, 183, 0.8);
    box-shadow: 0px 0px 3px 0px rgba(183, 183, 183, 0.8);
}

.loading-page-info-box-item:hover .box-item-title {
    color: #ea5b2e;
    
}

.box-item-description {
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    margin-top: 0;
    font-size: 1.4em;
    color: #5a5a5a;
    padding: 25px;
}

@media only screen and (max-width: 768px) {

    .landing-page-intro {
        background:   linear-gradient(
            rgba(0, 0, 0, 0.55), 
            rgba(0, 0, 0, 0.55)
          ), url(../../images/landingPage/guitarist_768.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 725px;
        margin-top: -70px;
        z-index: -1;
        display: flex;
        align-items: center;
    }
    
}

@media only screen and (max-width: 450px) {

    .landing-page-intro {
        background:   linear-gradient(
            rgba(0, 0, 0, 0.55), 
            rgba(0, 0, 0, 0.55)
          ), url(../../images/landingPage/guitarist_450.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 725px;
        margin-top: -70px;
        z-index: -1;
        display: flex;
        align-items: center;
    }
    
}