.landing-page-intro {
    background:   linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ), url(https://images.unsplash.com/photo-1491175372190-b0c288dcf1e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a968ee54be947b275cb1439066816d4a&auto=format&fit=crop&w=2850&q=80);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 725px;
    margin-top: -70px;
    z-index: -1;
    display: flex;
    align-items: center;
}

.landing-page-intro-title {
    color: white;
    font-size: 3.4em;
    margin: 0 auto;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
}

.landing-page-intro-sub-title {
    font-weight: 100;
}

.landing-page-intro-sub-title-emphasis {
    color: #ff5722;
}

.landing-page-info-box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
    max-width: 90%;
    min-height: 230px;
    margin: 0 auto;
    margin-top: -115px;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.41);
    box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.41);
}

.loading-page-info-box-item {
    flex-grow: 1;
    flex-basis: 0;
    height: 80%;
    min-width: 230px;
    min-height: 230px;
    box-sizing: border-box;
    padding: 25px;
    border-right: 1px solid #eaeaea;
}

.loading-page-info-box-item:last-child {
    border: none;
}

.box-item-title {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.3em;
    color: #e04e22;
}

.box-item-description {
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 1.2em;
}