.event-page-background {
    width: 100%;
    box-sizing: border-box;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    z-index: -1;
    border-bottom: 1px solid #ececec;
    /* https://goo.gl/xe3trV,  https://goo.gl/yRVGha, https://goo.gl/nRpQTv, https://goo.gl/oK1cbV, https://goo.gl/sofGZn, https://goo.gl/sofGZn */
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25) ), url(../../images/eventPage/eventpage.jpg);
    background-size: cover;
    background-position: center;
}

.event-page {
    /* max-width: 100%; */
    overflow: hidden;
}

.event-page-container {
    width: 1100px;
    max-width: 95%;
    min-height: 400px;
    margin: 2em auto;
    border: 1px solid #e9e9eb;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Lato;
    background: #fff;
}

.event-info {
    padding: 50px 95px;
    letter-spacing: .5px;
    font-weight: 300;
    line-height: 24px;
    overflow: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.event-page-header {
    font-size: 1.2em;
    color: #2f2f2f;
    border-bottom: 1px solid #e9e9eb;
    background: #fafafa;
    padding: 35px 95px;
    box-sizing: border-box;
}

.event-page-header-title, .event-page-header-location {
    font-size: 1.4em;
}

.event-location, .event-date, .event-time {
    font-weight: 400;
    color: #454545;
}

.event-date-time-location {
    display: inline-block;
    vertical-align: top;
    float: right;
    text-align: left;
}

.event-date, .event-time {
    letter-spacing: .5px;
    font-weight: 300;
    line-height: 24px;
}

.event-description {
    max-width: 100%;
    padding-right: 2em;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    white-space: pre-line;
}

.event-description-title, .event-date-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: bold;
    color: #3c3c3c;
}

.event-description-text {
    color: #3a3a3a;
    font-size: 0.9em;
}

.event-owner-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
}

.event-owner-user-name {
    display: inline-block;
    padding-left: 12px;
    vertical-align: super;
}

.event-user-info {
    padding: 3em 95px 0em 95px;
    box-sizing: border-box;
}

/* COMMENTS DISPLAY */

.comments-list-container {
    padding: 0;
}

.comments-list-item {
    list-style: none;
    margin-bottom: 15px;
    font-family: Lato;
}

.comments-list-item-empty {
    list-style: none;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 15px;
    font-family: Lato;
}

.comment-user {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    color: #517fb3;
    padding-left: 30px;
}

.comment-message {
    padding-left: 20px;
    padding-right: 35px;
    max-width: 70%;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 300;
}
.comment-time {
    font-size: 12px;
    text-align: right;
    display: inline-block;
    float: right;
    padding-right: 15px;
    color: #9a9a9a;
}

/* COMMENT INPUT */

.comments-container {
    border: 1px solid #e9e9eb;
    border: none;
    margin: 0 auto;
    background: white;
    overflow: hidden;
    width: 100%;
    padding: 50px 95px;
    padding-top: 0;
    box-sizing: border-box;
}

.comments-title {
    font-family: Lato;
    font-weight: 600;
    margin: 0;
    padding: 15px 20px;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #488be2;
    border-bottom: 1px solid #e9e9eb41;
    text-align: center;
}

/* .comments-container:hover .comments-title, .comments-container:focus .comments-title  {
    color: #2277e6;
} */

.current-user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
    margin: 20px;
    vertical-align: top
}

.comment-input-container {
    margin: 0;
    margin-top: 4em;
    width: 100%;
    /* border-top: 1px solid #e9e9eb; */
}

.comment-input {
    margin: 0;
    width: 80%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: Lato;
    font-weight: 300;
    font-size: 17px;
    padding: 20px;
    outline: none;
    resize: none;
}

.comment-error-message {
    font-weight: 300;
    min-height: 20px;
    color: #f25b5d;
    padding-left: 30px;
    padding-top: 17px;
}

.comment-send-button {
    border: 1px solid #f25b5d;
    color: #f25b5d;
    background: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin: 15px;
    cursor: pointer;
    outline: none;
    float: right;
}

.comment-send-button:hover {
    color: white;
    background: #f25b5d;
}

/* LOADER */

.loader-event-text {
    text-align: center;
    font-family: Lato;
    color: #454545;
    font-weight: 100;
}

.loader-event-title {
    font-weight: 300;
}

.loader-event-location {
    font-weight: 300;
}

.loader-event-page-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
}

.loader-event-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-event-page,
.loader-event-page:before,
.loader-event-page:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader-event-page {
  color: #7db3f1;
  font-size: 3px;
  margin: 80px auto;
  margin-top: 15px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-event-page:before,
.loader-event-page:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader-event-page:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader-event-page:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* @media only screen and (min-width: 768px) { */
    .event-page-container {
        box-shadow: 0px -4px 40px 1px #0000002e;
        border-radius: 15px;
        overflow: hidden;
    }
/* } */


@media only screen and (max-width: 720px) {
    .event-page-container {
        padding-bottom: 1em;
    }
    .event-page-header {
        padding: 35px 20px;
    }
    .comments-container {
        padding: 10px;
    }
    .event-info {
        grid-template-columns: 1fr;
        padding: 50px 40px
    }
    .event-description {
        padding: 0;
    }
    .event-user-info {
        padding: 3em 40px 0em 40px
    }
    .current-user-img {
        margin: 20px 10px;
    }
    .comment-send-button {
        display: block;
        margin: 0 auto;
        float: none;
    }
}

@media only screen and (max-width: 320px) {
    .event-info {
        grid-template-columns: 1fr;
        padding: 50px 25px
    }
    .event-description {
        padding: 0;
    }
    .event-user-info {
        padding: 3em 25px 0em 25px
    }

}