.event-page-background {
    width: 100%;
    box-sizing: border-box;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    z-index: -1;
    border-bottom: 1px solid #ececec;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url(https://goo.gl/nRpQTv);
    background-size: cover;
    background-position: bottom;
}

.event-page {
    /* max-width: 100%; */
    overflow: hidden;
}

.event-page-container {
    width: 1100px;
    max-width: 95%;
    min-height: 800px;
    margin: 2em auto;
    /* -webkit-box-shadow: 0px 0px 50px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(156, 156, 156, 0.1); */
    border: 1px solid #e9e9eb;
    box-sizing: border-box;
    font-family: Lato;
    background: #fff;
}

.event-info {
    padding: 50px 95px;
}

.event-page-header {
    font-size: 1.2em;
    color: #2f2f2f;
    border-bottom: 1px solid #e9e9eb;
    background: #fafafa;
    padding: 35px 95px;
    box-sizing: border-box;
}

.event-page-header-title, .event-page-header-location {
    font-size: 1.4em;
}

.event-location, .event-date, .event-time {
    font-weight: 400;
    color: #454545;
}

.event-description {
    width: 400px;
    box-sizing: border-box;
    margin: 30px 0;
    white-space: pre-line;
}

.event-description-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: bold;
}

.event-description-text {
    color: #3a3a3a;
    font-size: 0.9em;
}

.event-user-info {
    padding: 0 95px;
    box-sizing: border-box;
}

/* COMMENTS DISPLAY */

.comments-list-item {
    list-style: none;
    margin-bottom: 15px;
    font-family: Lato;
}

.comment-user {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    color: #517fb3;
}

.comment-message {
    padding-left: 20px;
    max-width: 70%;
    display: inline-block;
    font-weight: 300;
}
.comment-time {
    font-size: 12px;
    text-align: right;
    display: inline-block;
    float: right;
    padding-right: 15px;
    color: #9a9a9a;
}

/* COMMENT INPUT */

.comments-container {
    width: 800px;
    max-width: 95%;
    border: 1px solid #e9e9eb;
    margin: 0 auto;
    margin-top: -8em;
    background: white;
    margin-bottom: 8em;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.comments-title {
    font-family: Lato;
    font-weight: bold;
    margin: 0;
    padding: 15px 20px;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4f4f4f;
    border-bottom: 1px solid #e9e9eb;
    text-align: left;
}

.current-user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
    margin: 20px;
    vertical-align: top
}

.comment-input-container {
    margin: 0;
    margin-top: 4em;
    width: 100%;
    border-top: 1px solid #e9e9eb;
}

.comment-input {
    margin: 0;
    width: 90%;
    max-width: 90%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: Lato;
    font-weight: 300;
    font-size: 17px;
    padding: 20px;
    outline: none;}

/* LOADER */

.loader-event-text {
    text-align: center;
    font-family: Lato;
    color: #454545;
    font-weight: 100;
}

.loader-event-title {
    font-weight: 300;
}

.loader-event-location {
    font-weight: 300;
}

.loader-event-page-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
}

.loader-event-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-event-page,
.loader-event-page:before,
.loader-event-page:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader-event-page {
  color: #1f1f1f;
  font-size: 10px;
  margin: 80px auto;
  margin-top: 15px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-event-page:before,
.loader-event-page:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader-event-page:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader-event-page:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}