/* Main Containers */

.account-container {
    width: 900px;
    max-width: 95%;
    margin: 40px auto;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(105, 105, 105, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(105, 105, 105, 0.1);
}

.account-nav-container, .account-info-container {
    padding: 30px 0;
    box-sizing: border-box;
    vertical-align: top;
}

.account-nav-container {
    padding-top: 0;
    display: inline-block;
    width: 25%;
}

.account-info-container {
    display: inline-block;
    border-left: 1px solid #eaeaea;
    width: 75%;
    padding-left: 40px;
}

.profile-picture-container {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #ffe4e4;
    border-radius: 50%;
}

/* Items */

.account-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.account-nav-list-item {
    padding: 18px 25px;
    cursor: pointer;
    font-weight: bold;
    color: #646464;
}

.account-nav-list-item:hover {
    background: #fafafa;
    color: #212121;
}

.profile-picture-img {
    width: 100%;
}

.display-name {
    display: block;
    text-align: left;
    padding-top: 2em;
}

.account-info-form {
    margin-top: 40px;
}

.account-info-form-field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.account-info-form-field-label {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100px;
    padding: 0 20px 0 0;
}

.account-info-form-field-input {
    display: inline-block;
}

.account-info-form-field-input input, .account-info-form-field-input textarea {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #efefef;
    outline: none;
    font-size: 0.9em;
}