.event-card-container {
    width: 600px;
    margin: 30px auto;
    /* padding-bottom: 30px; */
    max-width: 85%;
    box-sizing: border-box;
    background: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.1);
}

.event-card-container:first-child {
    margin-top: 0;
}

.event-card-container:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(156, 156, 156, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(156, 156, 156, 0.15);
}

.event-card-owner-info {
    padding: 14px 30px;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
}

.event-card-owner-name {
    padding-left: 10px;
}

.event-card-owner-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.1);
}

.event-card-owner-img img{
    width: 100%;
}

.event-card-image-info-container {
    display: flex;
    /* align-items: center; */
}

.event-card-image {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.event-card-time {
    padding: 0.9em;
    padding-top: 17px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    font-family: Lato;
    color: #303030;
}

.event-card-image-item {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.event-card-info-container {
    width: 400px;
    display: inline-block;
    box-sizing: border-box;
}

.event-card-info-list {
    list-style: none;
    padding: 0;
}

.event-card-info-list li {
    margin-bottom: 10px;
}

.event-info-item {
    font-family: Lato;
    color: #323232;
}

.event-card-description-container {
    max-width: 100%;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 30px;
    margin: 4px auto;
    border: 1px solid #fafafa;
}

.event-card-handlers {
    padding: 0 40px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.event-card-handler-icon {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.love-icon {
    background: url(https://goo.gl/vufYvj);
    background-size: auto 100%;
    background-position: bottom;
}

.love-icon:hover {
    background: url(https://goo.gl/tKdVFq);
    background-size: auto 100%;
    background-position: bottom;
}

.join-icon {
    background: url(https://goo.gl/zzUucn);
    background-size: auto 100%;
    background-position: bottom;
}

.join-icon:hover {
    background: url(https://goo.gl/khnEvf);
    background-size: auto 100%;
    background-position: bottom;
}

.view-full-event {
    margin-left: auto;
}

.view-full-event a{
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    border: none;
    background: none;
    color: #f15c5c;
    border-radius: 4px;
    padding: 5px;
    font-family: Lato;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.view-full-event a:visited {
    color: #f15c5c;
}

.view-full-event a:hover {
    color: #29a75e;
}