.create-event-modal-background {
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: 800px;
    background: rgba(40, 40, 40, 0.49);
    top: 0;
}

.close-button-container {
    text-align: right;
    margin-bottom: 30px;
}

.close-button-container button {
    border: none;
    outline: none;
    background: none;
}

.close-button-container button img {
    width: 25px;
    cursor: pointer;
}

.create-event-modal-container {
    position: relative;
    z-index: 1;
}

.create-event-modal-content {
    max-width: 90%;
    width: 700px;
    padding: 40px;
    box-sizing: border-box;
    background: white;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(156, 156, 156, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(156, 156, 156, 0.1);
    /* Center fixed element */
    position: absolute;
    top: 4em;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
}

.create-event-modal-image-container {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.create-event-modal-image {
    width: 200px;
    height: 200px;
    border: 2px solid #eaeaea;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid #fafafa;
    display: inline-block;
    background: url(https://cdn4.iconfinder.com/data/icons/48-bubbles/48/25.Camera-Front-512.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.event-img-item {
    height: 100%;
}

.input-file-label {
    cursor: pointer;
    cursor: pointer;
    display: block;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.create-event-modal-info {
    display: inline-block;
    vertical-align: top;
    padding: 14px;
}

.create-event-modal-info-field {
    margin-bottom: 15px;
}

.create-event-modal-info-error {
    color: #e83a5b;
    padding-left: 110px;
    margin-bottom: 8px;
}

.create-event-modal-info-error:last-child {
    padding-left: none;
    text-align: right;
}

.create-event-modal-info-field div:last-child {
    display: inline-block;
}

.create-event-modal-info-field ul{
    padding-left: 0!important;
    padding-right: 0!important;
}

.date-picker-time {

}

.create-event-modal-info-label {
    width: 110px;
    display: inline-block;
}

.create-event-modal-info-input {
    padding: 8px;
    width: 240px;
    border-radius: 3px;
    border: 1px solid #efefef;
    outline: none;
    font-size: 0.9em;
}

.create-event-modal-info-input-error {
    padding: 8px;
    width: 240px;
    border-radius: 3px;
    border: 1px solid #ffdede;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 0.23);
    box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 0.23);    
    outline: none;
    font-size: 0.9em;
}

.create-event-modal-info-textarea {
    padding: 8px;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px solid #efefef;
    outline: none;
    font-size: 0.9em;
}

.create-event-modal-info-textarea-error {
    padding: 8px;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px solid #ffdede;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 0.23);
    box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 0.23);   
    outline: none;
    font-size: 0.9em;
}

.field-description {
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
}

.create-cancel-buttons-container {
    text-align: center;
}

.create-event-button {
    border: none;
    background: #66bb6a;
    border: 2px solid #66bb6a;
    color: white;
    border-radius: 4px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.create-event-button:hover {
    color: #66bb6a;
    background: none;
}

.cancel-event-button {
    border: none;
    background: crimson;
    border: 2px solid crimson;
    color: white;
    border-radius: 4px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.cancel-event-button:hover {
    color: crimson;
    background: none;
}